<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}ftManager{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block menu %}
    <nav class="navbar navbar-light bg-faded navbar-full navbar-static-top">
        <div class="container">
            <a class="navbar-brand" href="{{ path('main_homepage') }}">ftManager</a>

            <ul class="nav navbar-nav">

            </ul>

            <ul class="nav navbar-nav pull-xs-right">
                {% if app.user %}
                    <li class="nav-item {% if app.request.attributes.get('_route') matches '{^user_.*$}' or app.request.attributes.get('_route') matches '{^team_.*$}' %}active{% endif %} dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> {{ app.user.username }}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Mes paramètres</a>
                            {% if app.user.team %}
                                <a class="dropdown-item" href="{{ path('team_homepage') }}">Gestion d'équipe</a>
                            {% else %}
                                <a class="dropdown-item" href="{{ path('team_registration') }}">Inscription d'équipe</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
                        </div>
                    </li>
                {% else %}
                    <button class="btn btn-success-outline" data-toggle="modal" data-target=".modal_connect">Se connecter</button>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item {% if app.request.attributes.get('_route') matches '{^admin_.*$}' %}active{% endif %} dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-unlock"></i> Administration</a>
                            <div class="dropdown-menu">
                                <h6 class="dropdown-header">Gestion du site</h6>
                                <a class="dropdown-item" href="{{ path('admin_news') }}">Gestion des news</a>
                                <a class="dropdown-item" href="{{ path('admin_users') }}">Gestion des utilisateurs</a>
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header">Gestion du tournoi</h6>
                                <a class="dropdown-item" href="{{ path('admin_teams') }}">Gestion des équipes</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item {% if app.request.attributes.get('_route') matches '{^admin_.*$}' %}active{% endif %} dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-lock"></i> Administration</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item">Se reconnecter</a>
                            </div>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}

<div class="container m-t-1">
    {% block alert_sucess %}
        <div class="modal fade modal_alert_success" tabindex="-1" role="dialog" aria-labelledby="modalAlertSuccess" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Succès</h4>
                    </div>

                    <div class="modal-body">
                        <i class="fa fa-check text-success"></i> Action correctement effectuée
                        <div class="modal-body-more-info text-muted"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block alert_error %}
        <div class="modal fade modal_alert_error" tabindex="-1" role="dialog" aria-labelledby="modalAlertSuccess" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Erreur</h4>
                    </div>

                    <div class="modal-body">
                        <i class="fa fa-times text-danger"></i> Une erreur s'est produite
                        <div class="modal-body-more-info text-muted"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block alert_confirmation %}
        <div class="modal fade modal_alert_confirmation" tabindex="-1" role="dialog" aria-labelledby="modalAlertSuccess" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Demande de confirmation</h4>
                    </div>

                    <div class="modal-body">
                        Êtes-vous sûr de vouloir effectuer cette action ?
                        <div class="modal-body-more-info text-muted"></div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger-outline modal-confirmation-no" data-dismiss="modal">Non</button>
                        <button type="button" class="btn btn-primary-outline modal-confirmation-yes" data-dismiss="modal">Oui</button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% if not app.user %}
        <div class="modal fade modal_connect" tabindex="-1" role="dialog" aria-labelledby="modalAlertSuccess" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Connexion</h4>
                    </div>

                    <div class="modal-body">
                        <!-- TODO : Champs de connexion -->
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger-outline" data-dismiss="modal">Non</button>
                        <button type="button" class="btn btn-primary-outline" data-dismiss="modal">Oui</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <ol class="breadcrumb">
        {% block breadcrumb %}
            {% if app.request.get('_route') == 'main_homepage' %}
                <li class="active"><i class="fa fa-home"></i> Accueil</li>
            {% else %}
                <li><a href="{{ path('main_homepage') }}"><i class="fa fa-home"></i> Accueil</a></li>
            {% endif %}
        {% endblock %}
    </ol>

    {% block alert %}
        {% for flashType in app.session.flashBag.keys %}
            <div class="alert alert-{{ flashType }}">
                {% for flashMessage in app.session.flashBag.get(flashType) %}
                    {{ flashMessage }}
                    {% if not loop.last %}
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    {% endblock %}

    {% block body %}

    {% endblock %}
</div>

{% block javascripts %}
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script   src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"   integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="   crossorigin="anonymous"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    {% javascripts '@MainBundle/Resources/assets/js/tether.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        $(function () {
            $('[data-toggle="popover"]').popover()
        });

        $(document).on('hide.bs.modal', function() {
            $('.modal-body-more-info').empty();
        });
    </script>
{% endblock %}
</body>
</html>
