{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/dashboard.css') }}">
{% endblock %}

{% block title %}
    {{ parent() }} • Administration
{% endblock %}

{% block breadcrumb %}

    {{ parent() }}
    <li><a href="{{ path('admin_homepage') }}">Administration</a></li>
{% endblock %}

{% block alert %}
    {{ parent() }}
{% endblock %}

{% block body %}

{% endblock %}