{% extends 'AdminBundle::base.html.twig' %}

{% block title %}
    {{ parent() }} • News
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">News</li>
{% endblock %}

{% block body %}
    <div>
        <h1>Gestion des news</h1>
    </div>

    <div class="modal fade" id="addNews" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Ajouter une news</h4>
                </div>
                <div class="modal-body">
                    <div class="addNewError"></div>

                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="form-control-label col-md-2" for="addNew_Title">Titre</label>
                            <div class="col-md-10">
                                <input type="text" id="addNew_Title" placeholder="Titre" class="form-control">
                            </div>
                        </div>

                        <!-- TODO : Datetimepicker -->

                        <div class="form-group row">
                            <label class="form-control-label col-md-2" for="addNew_Message">Message</label>
                            <div class="col-md-10">
                                <textarea class="form-control" id="addNew_Message" rows="5" placeholder="Message"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary addNews"><i class="fa fa-plus"></i> Enregistrer</button>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <button type="button" class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#addNews"><i class="fa fa-pencil"></i> Ajouter une news</button>
    <div class="clearfix"></div>

    <table id="table_news" class="table table-striped table-hover m-t-1">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Titre</th>
            <th>Date</th>
            <th>Utilisateur</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody class="table_news_tbody">
            {% for news in array_news %}
                {% include 'AdminBundle:News:newsRow.html.twig' %}
            {% else %}
                <tr>
                    <td colspan="6"><i>Aucune news</i></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        // TODO : Editeur WYSIWYG ?

        $('.addNews').on('click', function() {
            var modal = $('#addNews');

            var button = $(this);

            var title = modal.find('#addNew_Title').val();
            var message = modal.find('#addNew_Message').val();

            button.attr('disabled', 'disabled');

            button.find('.fa').removeClass('fa-pencil fa-plus').addClass('fa-spinner fa-pulse');

            if(button.data('edit')) {
                var id = button.data('id');

                $.ajax({
                    type: 'POST',
                    url: "{{ path('admin_news_ajax_edit') }}",
                    data: {
                        id: id,
                        title: title,
                        message: message
                    },
                    error: function (request, error) { // Info Debuggage si erreur
                        console.log("Erreur : responseText: " + request.responseText);
                    },
                    success: function (data) {
                        if (data.status == 'ok') {
                            modal.modal('hide');

                            var line = $('tr[data-id="' + id + '"]');
                            line.effect("highlight", {color: '#c9c9c9'}, 5000);
                            line.children("td:nth-child(2)").html(title);

                            $('.modal_alert_success').modal('show');
                            setTimeout(function () {
                                $(".modal_alert_success").modal('hide');
                            }, 1700);
                        } else {
                            $('.addNewError').html(data.debug);
                        }
                    }
                });
            } else {
                $.ajax({
                    type: 'POST',
                    url: "{{ path('admin_news_ajax_add') }}",
                    data: {
                        title: title,
                        message: message
                    },
                    error: function (request, error) { // Info Debuggage si erreur
                        console.log("Erreur : responseText: " + request.responseText);
                    },
                    success: function (data) {
                        if (data.status == 'ok') {
                            modal.modal('hide');

                            if ($('.table_news_tbody').find('tr td').length == 1)
                                $('.table_news_tbody').find('tr td').remove();

                            $('.table_news_tbody').append(data.return);

                            $('.modal_alert_success').modal('show');
                            setTimeout(function () {
                                $(".modal_alert_success").modal('hide');
                            }, 1700);
                        } else {
                            $('.addNewError').html(data.debug);
                        }
                    }
                });
            }
        });

        $('#addNews').on('hide.bs.modal', function() {
            var button = $(this).find('.addNews');

            $(this).find('#addNew_Title').val('');
            $(this).find('#addNew_Message').val('');
            $(this).find('.modal-title').html("Ajouter une news");

            button.find('.fa').removeClass('fa-pencil fa-pulse fa-spinner').addClass('fa-plus');
            button.removeAttr('disabled');
            button.removeData('edit');
        });

        $('.table_news_tbody').on('click', 'button[data-action="delete"]', function() {
            var id = $(this).data('id');
            var modal = $('.modal_alert_confirmation');

            modal.find('.modal-confirmation-yes').data('id', id);
            modal.modal('show');
        });

        $('.modal-confirmation-yes').on('click', function() {
            var id = $(this).data('id');

            $.ajax({
                type: 'POST',
                url: "{{ path('admin_news_ajax_delete') }}",
                data: {
                    id: id
                },
                error: function (request, error) { // Info Debuggage si erreur
                    console.log("Erreur : responseText: " + request.responseText);
                },
                success: function (data) {
                    if(data.status == 'ok') {
                        $('tr[data-id="' + id + '"]').fadeOut(1500, "easeOutExpo", function() {
                            $(this).remove();
                            if($('.table_news_tbody tr').length == 0) {
                                $('.table_news_tbody').append(
                                        $('<tr>').append(
                                                $('<td>').attr('colspan', '6').html('<i>Aucune news</i>')
                                        )
                                );
                            }
                        });
                        $('.modal_alert_success').modal('show');
                        setTimeout(function(){
                            $(".modal_alert_success").modal('hide');
                        }, 1700);
                    } else {
                        $('.modal-body-more-info').html(data.debug);
                        $('.modal_alert_error').modal('show');
                    }
                }
            });
        });

        $('.table_news_tbody').on('click', 'button[data-action="edit"]', function() {
            var id = $(this).data('id');
            var modal = $('#addNews');

            $.ajax({
                type: 'POST',
                url: "{{ path('admin_news_ajax_get') }}",
                data: {
                    id: id
                },
                error: function (request, error) { // Info Debuggage si erreur
                    console.log("Erreur : responseText: " + request.responseText);
                },
                success: function (data) {
                    if(data.status == 'ok') {
                        modal.find('#addNew_Title').val(data.news.title);
                        modal.find('#addNew_Message').val(data.news.message);

                        modal.find('.modal-title').html("Modification d'une news");
                        modal.find('.fa-plus').removeClass('fa-plus').addClass('fa-pencil');

                        modal.find('.addNews').data('id', id).data('edit', '1');
                        modal.modal('show');
                    } else {
                        $('.modal-body-more-info').html(data.debug);
                        $('.modal_alert_error').modal('show');
                    }
                }
            });
        });
    </script>
{% endblock %}
