{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} • Team • Création
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('team_homepage') }}">Team</a></li>
    <li class="active">Création</li>
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Création d'une équipe</h1>
    </div>

    <div class="col-md-6">
        <fieldset class="form-group">
            <label for="input_name">Nom de l'équipe</label>
            <input type="text" class="form-control" id="input_name" placeholder="Nom de l'équipe">
        </fieldset>

        <button class="btn btn-primary addTeam">Créer l'équipe</button>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts output='js/compiled/registration.js'
        '@TeamBundle/Resources/public/js/team.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
