{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} • {{ team.name }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('team_front_homepage') }}">Liste des teams</a></li>
    <li class="active">{{ team.name }}</li>
{% endblock %}

{% block body %}

{% endblock %}